.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.input--standard {
  display: block;
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}

.input--small {
  display: inline-block;
  width: 70px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 10px;
}
